<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:replace="~{fragments/head :: head('Каталог - Rukonpin Store')}">
</head>
<body>
<div class="main-container">
    <div class="rectangle">
        <div th:replace="~{fragments/header :: header}"></div>

        <section class="catalog-section">
            <h1 class="catalog-title">Каталог</h1>
            <div class="divider-line"></div>

            <div th:replace="~{fragments/toolbar :: toolbar(${products}, ${query})}"></div>
        </section>

        <div class="products-grid">
            <th:block th:replace="~{fragments/product-card :: product-cards(${products.content})}"></th:block>
        </div>

        <section class="catalog-section">
            <div class="divider-line"></div>
        <div th:replace="~{fragments/footer :: footer}"></div>
        </section>
    </div>
</div>
</body>
</html>